//colors
$background-1: white;
$background-2: #eff9ff;
$background-3: #304268;
$menu: #0271bc;
$button: #f26002;
$subtitle: #8ccbea;
$fcolor1: black;
$fcolor-2: #4a4a4a;

//fonts
$font-main: 'Roboto', sans-serif;
$font-2: 'Roboto Slab', serif;