.footer {
    background-color: $background-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

    &__up {
        background-color: $background-1;
        border-radius: 100%;
        height: 4.5rem;
        width: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -2.3rem;

        &__arrow {
            opacity: 0.5;
            animation: fadeIn 3s ease-in-out forwards infinite;

            @keyframes fadeIn {
                from {
                    opacity: 0.5;
                }

                to {
                    opacity: 1;
                }
            }
        }

    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
        margin-bottom: 3rem;


        &__item,
        &__item:visited {
            cursor: pointer;
            text-decoration: none;
            font: 300 1.6rem $font-main;
            color: $background-1;
        }

        &__item:hover {
            color: $subtitle;
        }
    }

    &__list1 {
        margin-top: 6rem;
    }

    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 4.5rem;
        font: 300 1.6rem $font-main;
        color: $background-1;
        gap: 1rem;

        &__heart {
            color: $button;
            animation: pulsate 2s infinite;

            @keyframes pulsate {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.2);
                }

                100% {
                    transform: scale(1);
                }
            }
        }
    }
}

@media all and (min-width: 768px) {

    .footer {
        padding: 0 4rem;
        flex-direction: row;

        &__up {
            left: 50%;
            transform: translateX(-50%);
        }

        &__list {
            align-items: flex-start;
        }

        &__nav {
            flex: 1;
        }

        &__article {
            flex: 1;
            order: -1;
            align-items: flex-start;
            margin-top: 0;
        }
    }
}

@media all and (min-width: 1280px) {

    .footer {
        padding: 6rem 37rem;
    }
}