.main {
    width: 100vw;

    .section1 {
        background-color: $white;
        padding: 30px 15px;

        &__tips {
            color: $light-blue;
            font: 300 14px $roboto;
        }

        &__window {
            color: black;
            font: 24px $roboto-slab;
        }

        &__text {
            color: $greyish;
            font: 300 18px $roboto;
            margin-top: 15px;
        }

        &__go {
            display: flex;
            width: 76px;
            height: 45px;
            align-items: center;
            justify-content: center;
            color: $orange;
            border: $orange solid 2px;
            border-radius: 23px;
            margin-top: 30px;
            font: 500 20px $roboto;
            cursor: pointer;
        }

        &__go:hover {
            transform: scale(1.2);
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        background-color: $ice-blue;
        padding: 30px 15px 60px 15px;
        text-align: center;

        &__purchase {
            font: 24px $roboto-slab;
            color: black;
            margin-bottom: 45px;
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 55px;
            margin-right: 55px;
            align-items: center;
            align-content: center;
        }

        &__reasons {
            padding-bottom: 45px;

            &__reason {
                font: 18px $roboto-slab;
                color: black;
            }

            &__description {
                font: 300 18px $roboto;
            }
        }

        &__more {
            width: 183px;
            height: 45px;
            align-self: center;
            display: flex;
            width: 183px;
            height: 45px;
            align-items: center;
            justify-content: center;
            background-color: $orange;
            color: white;
            border-radius: 23px;
            font: 500 20px $roboto;
            cursor: pointer;
        }

        &__more:hover {
            transform: scale(1.2);
        }
    }
}