.main {
    width: 100vw;

    .section1 {
        background-color: $background-1;
        padding: 3rem 1.5rem;

        &__tips {
            color: $subtitle;
            font: 300 1.4rem $font-main;
        }

        &__window {
            color: $fcolor1;
            font: 2.4rem $font-2;
        }

        &__text {
            color: $fcolor-2;
            font: 300 1.8rem $font-main;
            margin-top: 1.5rem;
        }

        &__go {
            display: flex;
            width: 7.5rem;
            height: 4.5rem;
            align-items: center;
            justify-content: center;
            color: $button;
            border: $button solid 0.2rem;
            border-radius: 2.3rem;
            margin-top: 3rem;
            font: 500 2rem $font-main;
            cursor: pointer;
        }

        &__go:hover {
            transform: scale(1.2);
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        background-color: $background-2;
        padding: 3rem 1.5rem 6rem 1.5rem;
        text-align: center;

        &__purchase {
            font: 2.4rem $font-2;
            color: $fcolor1;
            margin-bottom: 4.5rem;
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 5.5rem;
            margin-right: 5.5rem;
            align-items: center;
            align-content: center;
        }

        &__reasons {
            padding-bottom: 4.5rem;

            &__reason {
                font: 1.8rem $font-2;
                color: $fcolor1;
            }

            &__description {
                font: 300 1.8rem $font-main;
            }
        }

        &__more {
            width: 18.5rem;
            height: 4.5rem;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $button;
            color: $background-1;
            border-radius: 2.3rem;
            font: 500 2rem $font-main;
            cursor: pointer;
        }

        &__more:hover {
            transform: scale(1.2);
        }
    }
}

@media all and (min-width: 768px) {

    .main {
        .section1 {
            padding: 3rem 4rem 6rem 4rem;

            &__window {
                font-size: 2.6rem;
            }

            &__text {
                font-size: 2rem;
                margin-top: 3rem;
            }

            &__go {
                width: 9rem;
            }
        }

        .section2 {
            padding: 3rem 4rem 6rem 4rem;

            &__purchase {
                font-size: 2.6rem;
            }

            &__grid {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1.5rem;
            }

            &__reasons {
                &__reason {
                    font-size: 2.4rem;
                }

                &__description {
                    font-size: 2rem;
                }
            }

            &__more {
                width: 21rem;
            }
        }
    }
}

@media all and (min-width: 1280px) {

    .main {
        .section1 {
            padding: 6rem 27.5rem;

            &__tips {
                font-size: 1.6rem;
            }

            &__window {
                font-size: 3.2 rem;
            }

            &__go {
                width: 16rem;
            }
        }

        .section2 {
            padding: 6rem 8rem;

            &__purchase {
                font-size: 3.2rem;
            }

            &__grid {
                gap: 7rem;
            }

            &__reasons {
                padding-bottom: 6rem;
            }

            &__more {
                width: 25.5rem;
            }
        }
    }
}