<footer class="footer">
    <i class="fotter__arrow fa-solid fa-arrow-right fa-rotate-270"></i>
    <nav class="footer__nav1">
        <ul>
            <li>ARTICLES</li>
            <li>BOOKS</li>
            <li>EVENTS</li>
            <li>REASONS</li>
            <li>TIPS</li>
        </ul>
    </nav>
    <nav class="footer__nav2">
        <ul>
            <li>X</li>
            <li>INSTAGRAM</li>
            <li>MASTODON.SOCIAL</li>
        </ul>
    </nav>
    <article class="footer__article">
        <span>&copy;2023</span>
        <span>we <i class="footer__heart fa-solid fa-heart"></i> components</span>
    </article>
</footer>