<footer class="footer">
    <a class="footer__up" href="#top">
        <img class="footer__up__arrow" src="./images/ico-arrow.svg" alt="flecha para arriba">
    </a>
    <nav class="footer__nav">
        <ul class="footer__list footer__list1">
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">ARTICLES</a></li>
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">BOOKS</a></li>
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">EVENTS</a></li>
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">REASONS</a></li>
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">TIPS</a></li>
        </ul>
    </nav>
    <nav class="footer__nav">
        <ul class="footer__list">
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">X</a></li>
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">INSTAGRAM</a></li>
            <li><a class="footer__list__item" href="https://adalab.es" target="_blank">MASTODON.SOCIAL</a></li>
        </ul>
    </nav>
    <article class="footer__article">
        <span>&copy;2023</span>
        <span>we <i class="footer__article__heart fa-solid fa-heart"></i> components</span>
    </article>
</footer>