<header id="top" class="header">
    <a class="header__menu" href="https://adalab.es" target="_blank">
        <img src="./images/ico-menu.svg" alt="menu">
    </a>
    <section class="header__content">
        <h1 class="header__content__title">ANONYMOUS PROXY</h1>
        <h2 class="header__content__motto">In hac habitasse platea dictumst.</h2>
        <a class="header__content__scroll" href="#reasons">
            <img class="header__content__scroll__arrow" src="./images/ico-scroll-down.svg" alt="flecha para abajo">
        </a>
    </section>
</header>