<main class="main">
    <section class="main__section1">
        <h3 class="main__tips">Insomnia tips</h3>
        <h4 class="main__window">Looking Through A Window</h4>
        <p class="main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eos, omnis aliquam et earum
            fuga minima asperiores quia magnam quas doloremque saepe, facilis aperiam laudantium hic rerum doloribus
            iste maxime!</p>
        <span class="main__go">Go</span>
    </section>
    <section class="main__section2">
        <h4 class="main__reasons">3 Reasons To Purchase</h4>
        <article>
            <h5 class="main__reason">Ut sed metus</h5>
            <p class="main__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <h5 class="main__reason">Ut sed metus</h5>
            <p class="main__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <h5 class="main__reason">Ut sed metus</h5>
            <p class="main__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <span class="main__more">More reasons</span>
    </section>
</main>