<main class="main">
    <section class="section1">
        <h3 class="section1__tips">Insomnia tips</h3>
        <h4 class="section1__window">Looking Through A Window</h4>
        <p class="section1__text">Donec accusam, nulla ut volutpat porttito, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus semper sodales rutrum.</p>
        <div></div>
        <span class="section1__go">Go</span>
    </section>
    <section class="section2">
        <h4 class="section2__reasons">3 Reasons To Purchase</h4>
        <article>
            <h5 class="section2__reasons--reason">Ut sed metus</h5>
            <p class="section2__reasons--description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <h5 class="section2__reasons--reason">Ut sed metus</h5>
            <p class="section2__reasons--description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <h5 class="section2__reasons--reason">Ut sed metus</h5>
            <p class="section2__reasons--description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <span class="section2__more">More reasons</span>
    </section>
</main>