<main class="main">
    <section class="section1">
        <h3 class="section1__tips">Insomnia tips</h3>
        <h4 class="section1__window">Looking Through A Window</h4>
        <p class="section1__text">Donec accusam, nulla ut volutpat porttito, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus semper sodales rutrum.</p>
        <a class="section1__go" href="https://adalab.es" target="_blank">Go</a>
    </section>
    <section id="reasons" class="section2">
        <h4 class="section2__purchase">3 Reasons To Purchase</h4>
        <article class="section2__reasons">
            <h5 class="section2__reasons__reason">Ut sed metus</h5>
            <p class="section2__reasons__description">Lorem ipsum dolor sit amet, consectetur.
            </p>
        </article>
        <article class="section2__reasons">
            <h5 class="section2__reasons__reason">Curabitus ac erat</h5>
            <p class="section2__reasons__description">Mauris mattis urna quis lorem molestie.
            </p>
        </article>
        <article class="section2__reasons">
            <h5 class="section2__reasons__reason">Morbi dictum</h5>
            <p class="section2__reasons__description">Aliquam in dolor et dolor tincidunt.
            </p>
        </article>
        <a class="section2__more" href="https://adalab.es" target="_blank">More reasons</a>
    </section>
</main>